.App {
  text-align: center;
}

.image > img {
  width: 15em;
  height: 10em;
}

.businesscard_info > span {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.header > span {
  font-weight: bold;
  color: #6495ED;
}
